@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Sriracha&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

.bg {
  background-image: url(https://img.freepik.com/free-vector/watercolor-stains-abstract-background_23-2149107181.jpg?w=2000);
}